<div style="margin-bottom: 70px;" class="container mt-5">
  <h1 class="mb-4">Danh sách Món ăn</h1>
  <button class="btn btn-primary mb-3" onclick="document.getElementById('id01').style.display='block'">
    Thêm Món ăn
  </button>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên Món ăn</th>
        <th>Mô Tả</th>
        <th>Giá</th>
        <th>URL Hình ảnh</th>
        <th>Danh Mục</th>
        <th style="width: 140px;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dish of dishes">
        <td>{{ dish.DishID }}</td>
        <td>{{ dish.Name }}</td>
        <td>{{ dish.Description }}</td>
        <td>{{ dish.Price }}</td>
        <td><img src="{{ dish.ImageURL }}" alt="{{ dish.Name }}" width="50"></td>
        <td>{{ categoryNames[dish.CategoryID] }}</td>
        <td>
          <button class="btn btn-warning mr-2" onclick="document.getElementById('id02').style.display='block'">Sửa</button>
          <button class="btn btn-danger">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Modal -->
<div id="id01" class="modal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Thêm Danh Mục Mới</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('id01').style.display='none'">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #form="ngForm" (ngSubmit)="addDish(form)">
        <div class="mb-3">
          <label for="newName" class="form-label">Tên Món ăn</label>
          <input type="text" class="form-control" id="newName" name="newName" required ngModel>
        </div>
        <div class="mb-3">
          <label for="newDescription" class="form-label">Mô tả</label>
          <textarea class="form-control" id="newDescription" name="newDescription" rows="3" required ngModel></textarea>
        </div>
        <div class="mb-3">
          <label for="newPrice" class="form-label">Giá</label>
          <input type="number" class="form-control" id="newPrice" name="newPrice" required ngModel>
        </div>
        <div class="mb-3">
          <label for="newImageURL" class="form-label">URL Hình ảnh</label>
          <input type="text" class="form-control" id="newImageURL" name="newImageURL" required ngModel>
        </div>
        <div class="mb-3">
          <label for="newCategory" class="form-label">Danh Mục</label>
          <select class="form-control" id="newCategory" name="newCategory" required ngModel>
            <option *ngFor="let category of categories" [value]="category.CategoryID">{{ category.Name }}</option>
          </select>
        </div>
        <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Lưu</button>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Edit Modal -->
<div id="id02" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Sửa Danh Mục</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('id02').style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form #editForm="ngForm" (ngSubmit)="editDish(editForm)" >
          <div class="mb-3">
            <label for="editName" class="form-label">Tên Món ăn</label>
            <input type="text" class="form-control" id="editName" name="editName"  required>
          </div>
          <div class="mb-3">
            <label for="editDescription" class="form-label">Mô tả</label>
            <textarea class="form-control" id="editDescription"  name="editDescription" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="editPrice" class="form-label">Giá</label>
            <input type="number" class="form-control" id="editPrice"  name="editPrice" required>
          </div>
          <div class="mb-3">
            <label for="editImageURL" class="form-label">URL Hình ảnh</label>
            <input type="text" class="form-control" id="editImageURL" name="editImageURL" required>
          </div>
          <div class="mb-3">
            <label for="editCategory" class="form-label">Danh Mục</label>
            <select class="form-control" id="editCategory"  name="editCategory"   required>
              <option *ngFor="let category of categories" [value]="category.CategoryID">{{ category.Name }}</option>
            </select>
          </div>
          <button style="margin-top: 20px;" type="submit" class="btn btn-warning mr-2">Lưu</button>
        </form>
      </div>
    </div>
  </div>
</div>
