<!-- category-list.component.html -->
<div style="margin-bottom: 70px;" class="container mt-5">
  <h1 class="mb-4">Danh sách Danh mục</h1>
  <button class="btn btn-primary mb-3">Thêm Danh Mục</button>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên Danh Mục</th>
        <th>Mô Tả</th>
        <th style="width: 140px;">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.CategoryID }}</td>
        <td>{{ category.Name }}</td>
        <td>{{ category.Description }}</td>
        <td>
          <button class="btn btn-warning mr-2">Sửa</button>
          <button class="btn btn-danger">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
